body {
    margin: 0;
    background-color: rgb(19, 236, 120);
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 40%;
    height: 10%;
    justify-content: center;
}

.passbox {
    height: 15%;
    width: 60%;
    border-radius: 6px;
    margin-top: 14%;
}

.length {
    width: 10%;
    background-color: rgb(245, 240, 240);
    height: 100%;
}

#incre:hover, #decre:hover, button:hover {
    cursor: pointer;
}

#len, #passw, button {
    font-size: 20px;
}

.p {
    flex: 1;
}

#passw {
    width: 70%;
    height: 100%;
    color:rgb(244, 211, 66);
    padding-left: 20px;
}

.subm {
    width: 20%;
}

button {
    height: 100%;
    width: 100%;
    background-color: rgb(244, 211, 66);
    border: none;
    color: white;
    font-weight: bolder;
}

body, .length {
    flex-direction: column;
}

h1, .passbox, .length, #passw, body {
    display: flex;
    align-items: center;
}

#len, #passw, button {
    font-family: cursive;
}

h1, .passbox {
    background-color: white;
}